<h1 class="text-center">What you created...</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <% @bookmarks.each do |bookmark| %>
        <%= link_to "#{bookmark.url}", bookmark_path(bookmark)%>
        <% if policy(bookmark).destroy? %>
          <%= link_to 'Delete', bookmark, method: :delete, class: 'label label-danger' %>
        <% end %>
        <% if policy(bookmark).update? %>
          <%= link_to 'Edit', edit_bookmark_path(bookmark), class: 'label label-warning' %>
        <% end %>
      <% end %>
    </div>
  </div>

<h1 class="text-center">What you like...</h1>

<% @likes.each do |like| %>
<%= render partial: 'likes/like', locals: { bookmark: like.bookmark } %>
  <div class="panel panel-default">
    <div class="panel-body">
      <p><%= link_to "#{like.bookmark.url}", bookmark_path(like.bookmark) %></p>
    </div>
  </div>
<% end %>
